- name: Install vim, wget, httpd, nginx
  hosts: all
  tasks:
    - name: Install packages
      yum:
        name: "{{ item }}"
        state: present
      loop:
        - vim
        - wget
        - httpd
        - nginx
