- name: Install packages
  hosts: all
  tasks:
    - name: Install packages
      package:
        name: "{{ item }}"
        state: present
      loop:
        - vim
        - wget
        - apache2
        - nginx
